# Copyright (c) Vanilla Softwares.
# All rights reserved. Proprietary materials. No redistribution without written permission.
# Contact: +254792619069

# IntaSend
INTASEND_PUBLISHABLE_KEY=
INTASEND_SECRET_KEY=
INTASEND_WEBHOOK_SECRET=
INTASEND_TEST=true

# Your app
APP_BASE_URL=http://localhost:8000
